<md-dialog flex="45" style="background-color:white">
	<md-dialog-content>
	
			<md-title md-padding><h3>Collaborators</h3></md-title>
			<md-divider></md-divider>
			
		<div layout="row" flex >
				<div layout="column" flex="15">
					<md-button class="md-fab md-icon my-icon-button" aria-label="User">
	   			         	<img ng-src="{{owner.picUrl}}" style=" height: 100%;width: 100%;">
	       		</md-button>
	       		</div>
			       		<div layout="column" flex="20" style="margin-top: 15px;">
			       			<div layout="row">
			       			{{owner.name}} (Owner)
			   				</div>	
			   				{{owner.email}}
			   			</div>
	   	</div>
	   	<div ng-repeat="user in users">
	   			<div layout="row" flex >
				<div layout="column" flex="15">
					<md-button class="md-fab md-icon my-icon-button" aria-label="User">
	   			         	<img ng-src="{{user.picUrl}}" style=" height: 100%;width: 100%;">
	       		</md-button>
	       		</div>
			       		<div layout="column" flex  style="margin-top: 15px;">
			       			<div layout="row">
			       			{{user.name}} 
			   				</div>	
			   				{{user.email}}
			   			</div>
		
	   	
	   	<md-button style="min-width:25px;padding:5px;float:right" ng-click="removeCollaborator(user)" aria-label="Delete">
		<md-tooltip md-direction="bottom">Delete</md-tooltip>
			<md-icon md-svg-src="images/cancel.svg" aria-lable="Delete"></md-icon>
		</md-button>
		</div>
	   	</div>
	   	<div layout="row" flex>
	   		<div layout="column" flex="15">
	   			<md-button class="md-fab md-icon my-icon-button" aria-label="User">
	   			         <md-icon md-svg-src="images/share.svg" ng-click="" style="width:21px"></md-icon>
	   		 </md-button>	
	   	</div>
         
         <md-input-container>
        <label>Email</label>
        	<input ng-model="search" type="text" style="width: 26em;">
     	 </md-input-container>
	<!-- 	    <md-autocomplete
          ng-disabled="isDisabled"
          md-no-cache="noCache"
          md-selected-item="selectedItem"
          md-search-text-change="searchTextChange(searchText)"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in querySearch(searchText)"
          md-item-text="item.display"
          md-min-length="0"
          placeholder="Pick an Angular repository"
          md-menu-class="autocomplete-custom-template">
        <md-item-template>
          <span class="item-title">
            <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
            <span> {{item.display}} </span>
          </span>
       
        </md-item-template>
      </md-autocomplete> -->
      	
      </div>
	   			<md-divider></md-divider>
	   			<md-panel>
	   				<md-button md-autofocus flex class="md-primary" ng-click="getUserEmail()">
      					Done
   				 </md-button>
	   			</md-panel>
	</md-dialog-content>
</md-dialog>