
	<div class="container" style="position:relative;">
		 
			 <form action="logout" method="post">	   			 
	   			
				  <div class="row">
			 		<div class="col-sm-4">
					    <div class="well well-sm" style="background-color:lavender;">Email</div>
					</div>
					<div class="col-sm-6">
					    <div class="well well-sm" style="background-color:lavenderblush;width:30%;">Name :</div>
					</div>
					<div class="col-sm-2">    
					<a href="#!/login">
					    <button type="submit" class="btn btn-success">Logout</button>
					</a>
				  	</div>
				 </div>
	   			
	    	</form>
	</div>
