<div class="container">
 
 		<h1 class="sfYUmb" data-a11y-title-piece="" id="headingText" jsname="z6sL2b">Sign in</h1>
 		<p class="FgbZLd" data-a11y-title-piece="" id="headingSubtext">to continue to ToDo</p>
               <form name="myForm">
                <div class="input-control">
        		<center><font color="red"><p ng-bind="error" ng-disable></p></font></center>
				<label for="email">Email:</label>
		      	<input type="email" class="form-control" id="email" ng-model="user.email" autocomplete="username" name="email" placeholder="Enter email">   
					<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
					<span ng-show="myForm.email.$error.required">Email is required.</span>
					<span ng-show="myForm.email.$error.email">Invalid email address.</span>
				</span>
			</div><br>
			<div class="input-control">
				<label for="password">Password:</label>
		      	<input type="password" class="form-control" id="password" name ="pass" ng-model="user.password" placeholder="Enter password">
					<span style="color:red" ng-show="myForm.email.$dirty && myForm.password.$invalid">
					<span ng-show="myForm.password.$error.required">Password is required.</span>
				</span>
				<div id="errUser"></div>  
			</div>
			<br>
				      <button type="submit" id="submit" class="btn btn-primary" ng-click="loginUser()" ng-disabled="loginform.$invalid" style=" width:80px"><b>Login</b></button>
				      <a  href="#!/register" role="button"  style="margin-right: 20%; width:80px"><b>New User?</b></a>
					<p><span id ="errmsg"></span></p>
			<br>
					<button class="loginBtn loginBtn--facebook"><a href="facebookLogin">Login with Facebook</a></button>
					<button class="loginBtn loginBtn--google"><a href="loginWithGoogle">Login with Google</a></button>
		</form>
		</div>
</div>