<md-sidenav class="md-sidenav-left" md-component-id="left" width="250px" padding-top="20px" style=" margin-top:65px"">
  <md-content>
    <md-list >
      <md-list-item class="md-2-line" ng-click="null">
        <div class="md-list-item-text">
          <h3>Notes</h3>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-click="null">
        <div class="md-list-item-text">
          <h3>Archives</h3>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-click="null">
        <div class="md-list-item-text">
          <h3>Reminders</h3>
        </div>
      </md-list-item>
      
      <md-list-item class="md-2-line">
        <div class="md-list-item-text">
          <h3><b>Labels</b></h3><br>
          
        </div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-click="null">
        <div class="md-list-item-text">
          <h3>Trash</h3>
        </div>
      </md-list-item>
      
    </md-list>
  </md-content>

</md-sidenav>
