<!-- md-sidenav --><nav class="md-sidenav-left" id="left" width="150px" padding-top="20px" style=" margin-top:50px;width:150px">

    <md-list >
      <md-list-item ui-sref="home">
        
        Notes
   
      </md-list-item>
      <md-list-item ui-sref="archive">
   
          Archives
        
      </md-list-item>
      <md-list-item ui-sref="reminder">
      
          Reminders
        
      </md-list-item>
      
      <md-list-item >
       
          Labels
          
     
      </md-list-item>
      <md-list-item  ui-sref="trash">
            Trash
        
      </md-list-item>
      
    </md-list>

<nav>
<!-- </md-sidenav> -->
