
<div class="container">

 			<form name="userForm" ng-submit="submitForm()" novalidate ng-app>
 			<h3>Sign up</h3>
           
           		 <!-- NAME -->
		        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
		            <label><span class="req" style="color:red;">* </span> Name </label>
		            <input ng-pattern ="/^[a-zA-Z\s]*$/" type="text" name="name" class="form-control" ng-model="user.name" required>
		             <p style="color:red;" ng-show="userForm.name.$error.pattern" class="error">Enter only alphabet</p>
		            <!--  <p style="color:red;" ng-show="userForm.name.$required && !userForm.name.$pristine" class="help-block">Enter Valid Name.</p> -->
		        </div>
		        
				<!-- EMAIL -->
		        <div class="control-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
		            <label> <span class="req" style="color:red;">* </span> Email</label>
		            <input type="email" name="email" class="form-control" ng-model="user.email" required>
		            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block" style="color:red;">Enter a valid email.</p>
		        </div><br>
		        
		        <!-- PASSWORD -->
		        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
		            <label><span class="req" style="color:red;">* </span>Password</label>
		            <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="6" ng-maxlength="16" required>
		            <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short.</p>
		            <p ng-show="userForm.password.$error.maxlength" class="help-block">Password is too long.</p>
		        </div>
	
		         <!-- MOBILENUMBER -->
		        <div class="form-group" ng-class="{ 'has-error' : userForm.mobilenumber.$invalid && !userForm.mobilenumber.$pristine }">
		            <label><span class="req" style="color:red;">* </span>Mobile</label>
		            <input type="number" name="mobilenumber" class="form-control" ng-model="user.mobilenumber" ng-minlength="10" ng-maxlength="10" required >
		            <p style="color:red;" ng-show="userForm.mobilenumber.$error.minlength" class="help-block">Please provide 10 digit mobile number.</p>
		            <p style="color:red;" ng-show="userForm.mobilenumber.$error.maxlength" class="help-block">Please provide 10 digit mobile number.</p>
		        </div>
  
				<br>
				      <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="registerUser()">Register</button>
				      <span></span>
				      <a  class="btn btn-primary" href="#!/login" role="button"  style="margin-right: 20%; width:80px"><b>Cancel</b></a>
				<br>
				<br>
				<center><font color="red"><p ng-bind="error" ng-disable></p></font></center>
		</form>
</div>