.card{
	width:850px;
	background-color: white;
}

/* html,body,.md-content {
      background-color: rgba(205, 205, 205, 0.45);
}

md-backdrop.md-sidenav-backdrop {
    z-index: -1;
}
#home-div{
	background-color: rgba(0,0,0,.2);
}

md-content{
	display: inline;
} */

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block;
}






